#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the tools repository.
#
menu "Shell"
source "apps/shell/Kconfig"
endmenu

menu "System Libraries"
source "apps/system/Kconfig"
endmenu

menu "Examples"
source "apps/examples/Kconfig"
endmenu
